{% extends 'myapp/base.html' %}

{% load widget_tweaks %}
{% render_field form.patient_ID class="form-control" %}

{% block content %}
<div class="jumbotron">
    <h1>Home</h1>
    <p>
    <em>Note:</em> Oncentra Prostate laptop must be switched on to use this app.
    </p>
</div>

    <h2>Find patient</h2>
  <br />
    <form method="post">
      {% csrf_token %}

      {% for hidden in id_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {% for field in id_form.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control' }}
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      {% endfor %}

      <div class="form-group">
        <button type="submit" onClick="return empty_id()" id="search_by_id" name="search_by_id" class="btn btn-success">
          <span class="glyphicon glyphicon-search"></span> Search by ID
        </button>
      </div>
    </form>

<br />
    <form method="post">
      {% csrf_token %}

      {% for hidden in name_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      {% for field in name_form.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control' }}
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      {% endfor %}

      <div class="form-group">
        <button name="search_by_name" onClick="return empty_name()" id="search_by_name" type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-search"></span> Search by name
        </button>

      </div>
      <p>
        Note: Search for <em>"lastname"</em>, <em>"firstname"</em>, or <em>"lastname firstname"</em>
      </p>
    </form>

    <script>
    function empty_id() {
       var x;
       x = document.getElementById("id_patient_ID").value;
       if (x == "") {
           alert("Enter a patient ID");
           return false;
       };
   }
   function empty_name() {
      var x;
      x = document.getElementById("id_patient_name").value;
      if (x == "") {
          alert("Enter a patient name");
          return false;
      };
  }
    </script>
{% endblock %}
