{% extends 'myapp/base.html' %}

{% block content %}

<div class="jumbotron">
    <h1>Choose a patient</h1>
</div>

  <hr />
  {% for result in results %}

   <div class="list-group">
     <a href='../../view_patient/{{ result.patient_id }}' class="btn btn-default btn-block" role="button">
           Patient ID:
           {{ result.patient_id }}
           &nbsp;&nbsp;
           Patient name:
           {{ result.patient_name }}
     </a>
   </div>

   {% endfor %}

 <a href='/' class="btn btn-default" role="button"><span class="glyphicon glyphicon-step-backward"></span>Back</a>

{% endblock %}
