{% extends 'myapp/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Choose a plan</h1>
</div>

  <h2>Patient ID: {{ patient_ID }}</h2>
  <h2>Patient name: {{ patient_name }}</h2>
    <h2>Case label: {{ case_label }}</h2>
  <hr />
  {% for plan in plans %}

   <div class="list-group">
     <a href='/view_plan/{{ patient_ID }}/{{ case_label }}/{{ plan }}' class="btn btn-default btn-block" role="button">
           Plan name:
           {{ plan }}
     </a>
   </div>

   {% endfor %}

   <a href='/view_patient/{{patient_ID}}' class="btn btn-default" role="button"><span class="glyphicon glyphicon-step-backward"></span>Back</a>

  {% endblock %}
