{% extends 'myapp/base.html' %}

{% block content %}


<h1>Results</h1>

<hr/>

<p>

</p>
<table class='table borderless table-hover'>
<thead>
  <tr>
    <th>
      Patient ID
    </th>
    <th>
      Patient name
    </th>
    <th>
      Case label
    </th>
    <th>
      Plan name
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td> {{ dvh_data.patient_ID }}</td>
    <td>{{ dvh_data.patient_name }}</td>
    <td>{{ dvh_data.case_label }}</td>
    <td>{{ dvh_data.plan_name}}</td>
  </tr>
</tbody>
</table>

<br />
<p>


</p>
<h3>Target</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>VOI</th>
      <th>DVH</th>
      <th>Value</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HRCTV</td>
      <td>D90</td>
        {% if dvh_data.HRCTV.D90.result == 'fail' %}
      <td><font color="red">{{ dvh_data.HRCTV.D90.value }} Gy</font></td>
      {% else %}
      <td>{{ dvh_data.HRCTV.D90.value }} Gy</td>
        {% endif %}
        <td>
        {{ tolerances.HRCTV.D90.math }}  {{ tolerances.HRCTV.D90.value }}  {{ tolerances.HRCTV.D90.unit }}
        </td>
    </tr>
    <tr>
      <td>HRCTV</td>
      <td>V100</td>
      {% if dvh_data.HRCTV.V100.result == 'fail' %}
    <td><font color="red">{{ dvh_data.HRCTV.V100.value }} %</font></td>
    {% else %}
    <td>{{ dvh_data.HRCTV.V100.value }} %</td>
      {% endif %}
      <td>
      {{ tolerances.HRCTV.V100.math }}  {{ tolerances.HRCTV.V100.value }}  {{ tolerances.HRCTV.V100.unit }}
      </td>
    </tr>
    <tr>
      <td>HRCTV</td>
      <td>V67</td>
      {% if dvh_data.HRCTV.V67.result == 'fail' %}
    <td><font color="red">{{ dvh_data.HRCTV.V67.value }} %</font></td>
    {% else %}
    <td>{{ dvh_data.HRCTV.V67.value }} %</td>
      {% endif %}
      <td>
      {{ tolerances.HRCTV.V67.math }}  {{ tolerances.HRCTV.V67.value }}  {{ tolerances.HRCTV.V67.unit }}
      </td>
    </tr>

  </tbody>
</table>


<h3>OARs</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>VOI</th>
      <th>DVH</th>
      <th>Value</th>
      <th>Target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bladder</td>
      <td>D2cc</td>
      {% if dvh_data.Bladder.D2cc.result == 'fail' %}
    <td><font color="red">{{ dvh_data.Bladder.D2cc.value }} Gy</font></td>
    {% else %}
    <td>{{ dvh_data.Bladder.D2cc.value }} Gy</td>
      {% endif %}
      <td>
      {{ tolerances.Bladder.D2cc.math }}  {{ tolerances.Bladder.D2cc.value }}  {{ tolerances.Bladder.D2cc.unit }}
      </td>
     </tr>
    <tr>
      <td>Rectum</td>
      <td>D2cc</td>
      {% if dvh_data.Rectum.D2cc.result == 'fail' %}
    <td><font color="red">{{ dvh_data.Rectum.D2cc.value }} Gy</font></td>
    {% else %}
    <td>{{ dvh_data.Rectum.D2cc.value }} Gy</td>
      {% endif %}
      <td>
      {{ tolerances.Rectum.D2cc.math }}  {{ tolerances.Rectum.D2cc.value }}  {{ tolerances.Rectum.D2cc.unit }}
      </td>
     </tr>
    <tr>
      <td>Bowel</td>
      <td>D2cc</td>
      {% if dvh_data.Bowel.D2cc.result == 'fail' %}
    <td><font color="red">{{ dvh_data.Bowel.D2cc.value }} Gy</font></td>
    {% else %}
    <td>{{ dvh_data.Bowel.D2cc.value }} Gy</td>
      {% endif %}
      <td>
      {{ tolerances.Bowel.D2cc.math }}  {{ tolerances.Bowel.D2cc.value }}  {{ tolerances.Bowel.D2cc.unit }}
      </td>
        </tr>
  </tbody>
</table>

<h3>Volumes</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>VOI</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>HRCTV</td>
      <td>{{ dvh_data.HRCTV.volume_cc }} cc</td>
    </tr>
    <tr>
      <td>Bladder</td>
      <td>{{ dvh_data.Bladder.volume_cc }} cc</td>
    </tr>
    <tr>
      <td>Rectum</td>
      <td>{{ dvh_data.Rectum.volume_cc }} cc</td>
    </tr>
    <tr>
      <td>Bowel</td>
      <td>{{ dvh_data.Bowel.volume_cc }} cc</td>
    </tr>
  </tbody>
</table>

<a href='/dvh_dump' class="btn btn-default" role="button">
  <span class="glyphicon glyphicon-step-backward"></span>Back</a>

{% endblock %}
